* {
    box-sizing: border-box;
    margin: 0;
}

.main--content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar--header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'monospace';
    padding: 10px;
}