.navbar {
    display: flex;
    align-items: center;
    height: 5vh;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
}

.navbar--image {
    height: 100%;
    margin-right: 6px;
}

.navbar--title {
    font-size: 1.25rem;
    margin-right: auto;
}

.navbar--button {
    font-size: 1rem;
    border: none;
    background: none;
    color: white;
    margin-right: auto;
}

.navbar--button:hover {
    cursor: pointer;
    color: wheat;
}

.navbar--button:active {
    color: wheat;
}