.right--pane {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.chat--option--pane {
    display: flex;
    justify-content: space-evenly;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.chat--option--pane h4 {
    font-family: 'monospace';
    font-weight: bold;
    font-size: 16px;
}

.chat--pane {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    width: 95%; 

    padding-left: 50px;
    padding-right: 50px;
}

.chat--history--wrapper {
    height: 75vh;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat--history {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.user--input {
    margin: auto;
    height: 5vh;
    width: 100%;
}

.chat--message {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    font-family: 'monospace';
    font-size: 16px;
    align-content: left;

    line-height: 1.5rem;

    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.role--message {
    display: flex;
    font-family: 'monospace';
    font-weight: bold;
    font-size: 14px;
    align-items: left;
}

.data--message {
    display: flex;
    font-family: 'monospace';
    font-size: 14px;
    align-items: left;
}